@layer components {
  .document-actions {
    width: var(--content-width);
    min-height: var(--space-64);
    margin: 0 auto;
    display: none;
    align-items: center;
    justify-content: center;
    gap: var(--space-8);

    @media (any-pointer: coarse) {
      display: flex;
    }
  }

  .document-window[data-clear-ready] .document-actions__clear {
    border-color: var(--color-grey-8);
    background: var(--color-grey-6);
  }
}
